<!-- Send Now -->
<section
  class="bg-gray-200 py-5 mt-3 px-4 rounded-xl hidden"
  id="getBonusSection"
>
  <div class="flex justify-between px-4 mb-2">
    <h4 class="font-bold">Get Bonus</h4>
  </div>
  <div class="card w-[340px] mx-auto rounded-2xl bg-base-100">
    <form class="card-body">
      <div class="form-control">
        <label class="label">
          <span class="label-text font-semibold">Enter Bonus Coupon</span>
        </label>
        <input
          type="password"
          placeholder="Enter your coupon"
          class="input input-bordered border-0 rounded-full bg-base-200"
          id="getBonusCoupon"
          required
        />
        <span class="ml-4 font-semibold text-red-500" id="getBonusCouponError">
        </span>
      </div>

      <div class="form-control mt-6">
        <button
          class="btn btn-primary rounded-full text-lg font-bold"
          id="getBonusButton"
        >
          Get Bonus
        </button>
      </div>
    </form>
  </div>
</section>
