<!-- Transfer Money -->
<section
  class="bg-gray-200 py-5 mt-3 px-4 rounded-xl hidden"
  id="transferMoneySection"
>
  <div class="flex justify-between px-4 mb-2">
    <h4 class="font-bold">Transfer Money</h4>
  </div>
  <div class="card w-[340px] mx-auto rounded-2xl bg-base-100">
    <form class="card-body">
      <div class="form-control">
        <label class="label">
          <span class="label-text font-semibold">User Account Number</span>
        </label>
        <input
          type="password"
          placeholder="Enter 11 digit account number"
          class="input input-bordered border-0 rounded-full bg-base-200"
          required
          id="userAccountNumber"
        />
        <span
          class="ml-4 font-semibold text-red-500"
          id="userAccountNumberError"
        ></span>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text font-semibold">Amount </span>
        </label>
        <input
          type="password"
          placeholder="Enter amount to withdraw"
          class="input input-bordered border-0 rounded-full bg-base-200"
          required
          id="transferAmount"
        />
        <span
          class="ml-4 font-semibold text-red-500"
          id="transferAmountError"
        ></span>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text font-semibold">Pin Number</span>
        </label>
        <input
          type="password"
          placeholder="Enter 4 digit pin number"
          class="input input-bordered border-0 rounded-full bg-base-200"
          required
          id="transferPinNumber"
        />
        <span
          class="ml-4 font-semibold text-red-500"
          id="transferPinNumberError"
        ></span>
      </div>
      <div class="form-control mt-6">
        <button
          class="btn btn-primary rounded-full text-lg font-bold"
          id="transferMoneyBtn"
        >
          Send Now
        </button>
      </div>
    </form>
  </div>
</section>
