<!DOCTYPE html>
<html lang="en" data-theme="light">
  <%- include("header/head.ejs") %>
  <body>
    <main class="container mx-auto flex justify-center mt-5">
      <div class="artboard phone-4 border rounded-md bg-base-200">
        <div class="flex justify-center items-center flex-col mt-24">
          <div class="mb-5">
            <img src="./image/logo.png" class="w-16" alt="App Logo" />
          </div>
          <div class="card w-[340px] shrink-0 rounded-2xl bg-base-100">
            <form class="card-body">
              <div class="form-control">
                <label class="label">
                  <span class="label-text font-semibold">Mobile Number</span>
                </label>
                <input
                  type="email"
                  placeholder="Enter your number"
                  class="input input-bordered rounded-full border-0 bg-base-200"
                  required
                  id="mobileNumber"
                />
                <span
                  class="ml-4 font-semibold text-red-500"
                  id="mobileNumberError"
                ></span>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text font-semibold">4 Digit Pin</span>
                </label>
                <input
                  type="password"
                  placeholder="Enter 4 Digit Pin"
                  class="input input-bordered border-0 rounded-full bg-base-200"
                  required
                  id="pinNumber"
                />
                <span
                  class="ml-4 font-semibold text-red-500"
                  id="pinNumberError"
                ></span>
              </div>
              <div class="form-control mt-6">
                <button
                  class="btn btn-primary rounded-full text-lg font-bold"
                  id="loginButton"
                >
                  Register
                </button>
              </div>

              <span>
                You already have an account?
                <a href="/login" class="link link-primary">Login</a></span
              >
            </form>
          </div>
        </div>
      </div>

      <dialog id="registerModel" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
          <h3 class="text-lg font-bold">Success!</h3>
          <p class="py-4 font-semibold text-green-600">
            Successfully your account is created!
          </p>
          <div class="modal-action">
            <form method="dialog">
              <!-- if there is a button in form, it will close the modal -->
              <button class="btn">Close</button>
            </form>
          </div>
        </div>
      </dialog>
    </main>
    <script>
      let currentLocation = window.location.href;
      document
        .getElementById("loginButton")
        .addEventListener("click", async function (e) {
          e.preventDefault();

          const mobileNumber = parseFloat(
            document.getElementById("mobileNumber").value
          );
          const pinNumber = parseFloat(
            document.getElementById("pinNumber").value
          );

          if (isNaN(mobileNumber)) {
            return (document.getElementById("mobileNumberError").innerText =
              "Invalid Number Type");
            console.log("Invalid Number Type");
          }
          if (isNaN(pinNumber)) {
            return (document.getElementById("pinNumberError").innerText =
              "Invalid Number Type");
            console.log("Invalid Pin Type");
          }

          if (!mobileNumber || !pinNumber) {
            document.getElementById("mobileNumberError").innerText =
              "Mobile Number is required";
            document.getElementById("pinNumberError").innerText =
              "Pin Number is required";
            return;
          }

          const sendData = {
            mobileNumber,
            pinNumber,
          };

          const response = await fetch(`/register`, {
            method: "POST",
            body: JSON.stringify(sendData),
            headers: {
              "Content-Type": "application/json",
            },
          });

          const data = await response.json();
          console.log(data?.message);
          console.log(data?.messageForPin);
          if (data.status === "success") {
            registerModel.showModal();
            setTimeout(() => {
              registerModel.close();
              return (window.location.href = "/login");
            }, 1000);
          } else {
            // alert("Failed to Login");
            document.getElementById("mobileNumberError").innerText =
              data?.message || "";
            document.getElementById("pinNumberError").innerText =
              data?.messageForPin || "";
            return;
          }

          document.getElementById("mobileNumber").value = "";
          document.getElementById("pinNumber").value = "";

          document.getElementById("mobileNumberError").innerText = "";
          document.getElementById("pinNumberError").innerText = "";
        });
    </script>
  </body>
</html>
